<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aapt_path</key>
	<string>/Users/paulwyszynski/Library/Android/sdk/build-tools/33.0.0/aapt</string>
	<key>adb_path</key>
	<string>/Users/paulwyszynski/Library/Android/sdk/platform-tools/adb</string>
	<key>apksigner_path</key>
	<string>/Users/paulwyszynski/Library/Android/sdk/build-tools/33.0.0/apksigner</string>
	<key>emulator_path</key>
	<string>/Users/paulwyszynski/Library/Android/sdk/emulator/emulator</string>
</dict>
</plist>
